.navbar{
  border-bottom:1px solid rgb(150,150,150);
}
.sidebar{
  border-right:1px solid rgb(200,200,200);
}
.main{
  background-color:rgba(250,250,250,0.9);
  /*height:100%;*/
  height:auto;
  display:block;
}
.container{
    margin-left:0px;
}
.thin_table{
    max-width:1000px;
}